{{ if eq .chezmoi.os "darwin" -}}
[general]
import = [
  "~/.config/alacritty/catppuccin-mocha.toml"
]

[font]
size = 15

[font.bold]
family = "CodeNewRoman Nerd Font"
style = "Bold"

[font.bold_italic]
family = "CodeNewRoman Nerd Font"
style = "Bold Italic"

[font.italic]
family = "CodeNewRoman Nerd Font"
style = "Italic"

[font.normal]
family = "CodeNewRoman Nerd Font"

[[keyboard.bindings]]
chars = "\u001Bb"
key = "Left"
mods = "Alt"

[[keyboard.bindings]]
chars = "\u001Bf"
key = "Right"
mods = "Alt"

[[keyboard.bindings]]
chars = "\u001BOH"
key = "Left"
mode = "AppCursor"
mods = "Command"

[[keyboard.bindings]]
chars = "\u001BOF"
key = "Right"
mode = "AppCursor"
mods = "Command"

[[keyboard.bindings]]
key = "Return"
mods = "Shift"
chars = "\u001B\r"

[selection]
save_to_clipboard = true

[window]
decorations = "Buttonless"
opacity = 0.9
option_as_alt = "Both"
startup_mode = "SimpleFullscreen"
{{ end -}}
